<h2>New BLOG Post</h2>
<form method="post" action="/posts">
  <h3>NAME</h3>
  <input type="text" name="post[name]">
  <h3>CONTENT</h3>
  <input type="text" name="post[content]">
  <br><br>
  <button type="submit" value="submit">Submit</button>
</form>
